@model MedWeb.Web.Models.RegisteredVisitViewModel

<h2>Narzędzie do edycji wizyt w systemie</h2>
@using (Html.BeginForm("EditVisit", "Visit", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Obecnie edytowana wizyta</h3>
        </div>
        <div class="panel-body">
            Data wizyty:
            <div class="panel-footer">@Model.DateTime.ToString("MM/dd/yyyy HH:mm tt")</div>
            Pacjent:
            <div class="panel-footer">@Model.Patient.FirstName @Model.Patient.LastName</div>
            Lekarz
            <div class="panel-footer">@Model.Doctor.FirstName @Model.Doctor.LastName</div>
            Dolegliwość
            <div class="panel-footer">@Model.Complaint</div>
        </div>
    </div>

    <a href="@Url.Action("Details", new { visitId = Model.Id })" class="btn btn-primary">Szczegóły edytowanej wizyty</a>

    <button type="submit" class="btn btn-success">Edytuj wizytę</button>
}