@model MedWeb.Web.Models.PagingVisitViewModel
<div class="container">
    <h2>Wizyty w systemie</h2>
    @if (Model.RegisteredVisitsModel.Count == 0)
    {
        <p>Brak wizyt w systemie.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Lekarz</th>
                    <th>Pacjent</th>
                    <th>Data</th>
                    <th>Objaw</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RegisteredVisitsModel)
                {
                    <tr>
                        <td>@item.Doctor.FirstName @item.Doctor.LastName</td>
                        <td>@item.Patient.FirstName @item.Patient.LastName</td>
                        <td>@item.DateTime.ToShortTimeString()</td>
                        <td>@item.Complaint</td>
                    </tr>
                }
            </tbody>
        </table>
        if (Model.PagingInfoModel.PageInfo.EndPage > 1)
        {
            <ul class="pagination">
                @if (Model.PagingInfoModel.PageInfo.CurrentPage > 1)
                {
                    <li>
                        <a href="~/Home/Index">Pierwsza</a>
                    </li>
                    <li>
                        <a href="~/Home/Index?page=@(Model.PagingInfoModel.PageInfo.CurrentPage - 1)">Poprzednia</a>
                    </li>
                }

                @for (var page = Model.PagingInfoModel.PageInfo.StartPage; page <= Model.PagingInfoModel.PageInfo.EndPage; page++)
                {
                    <li class="@(page == Model.PagingInfoModel.PageInfo.CurrentPage ? "aktywna" : "")">
                        <a href="~/Home/Index?page=@page">@page</a>
                    </li>}

                @if (Model.PagingInfoModel.PageInfo.CurrentPage < Model.PagingInfoModel.PageInfo.NumOfPages)
                {
                    <li>
                        <a href="~/Home/Index?page=@(Model.PagingInfoModel.PageInfo.CurrentPage + 1)">Następna</a>
                    </li>
                    <li>
                        <a href="~/Home/Index?page=@(Model.PagingInfoModel.PageInfo.NumOfPages)">Ostatnia</a>
                    </li>
                }
            </ul>
        }

    }

    @if (User.IsInRole("Administartor"))
    {
        <a href="@Url.Action("AddVisit")" class="btn btn-primary">Dodaj wizytę</a>
    }
</div>